In [1]:
import time
stop_watch = 14
print("here is your stopwatch")
for x in range (stop_watch,0, -1):
    seconds = x % 60
    minutes = int(x/60) % 60
    hours = int(x/3600)
    print(f"00:{hours:02}:{minutes:02}:{seconds:02}")
    time.sleep(1)
print("Times up")

here is your stopwatch
00:00:00:14
00:00:00:13
00:00:00:12
00:00:00:11
00:00:00:10
00:00:00:09
00:00:00:08
00:00:00:07
00:00:00:06
00:00:00:05
00:00:00:04
00:00:00:03
00:00:00:02
00:00:00:01
Times up

# Looping Over Collections

## Introduction
Loops allow us to iterate over each element in a collection, like a list. Perhaps we could already do that by writing out a line of code for each element in the collection, but that wouldn't be very efficient, would it? No, not at all. With loops, we can write one line of code that operates on each element in a collection. Pretty cool, right? Let's get started!

## Objectives

You will be able to:

- Use a `for` loop to iterate over a collection

## What is a for loop and how do I write one?

A `for` loop in Python, is primarily used for going through elements of a list one by one. We'll use a simple collection with 4 elements `0,1,2,3` as an example. Without a loop, if we wanted to print each element of the list we'd have to write it out like we do below:

In [48]:
zero_to_three = [ 1, 2, 3, 4, 5 ,6, 7]

In [2]:
print(zero_to_three[0])
print(zero_to_three[1])
print(zero_to_three[2])
print(zero_to_three[3])

0
1
2
3

> Press shift + enter

In the example above, we are sequentially accessing each index in the list and printing its value (the element). That works well enough, but if our list were 100 elements long it would become extremely tedious. And what if the length of our list were ***unknown***. Spooky, right? 

In fact, it may very often be the case that we don't know the length of the collection we are working with. So, writing all this static code for each element becomes not only unmanageable but impossible.

Let's see how we would do the same operation above with a `for` loop!

In [40]:
for number in zero_to_three:
    print(number)

0
1
2
3

Great! We were able to reproduce the exact same functionality as we had previously. However, in this example, we used only **2** lines of code. 

Now, the `for` loop may look a bit confusing at first, so, let's take a closer look at the syntax. A `for` loop essentially has two necessary components, which we'll refer to as arguments. The first argument is the variable name we are assigning to an element, or in this case, `number`. The second argument is the collection we are iterating over, or in this case, the list `zero_to_three`.

We can give any name to the variable. The important thing to understand here is **it is the reference** to each **element** in the collection. So, when we print `number`, we are printing an element of the collection `zero_to_three`. 

Every `for` loop needs to end the first line with a colon `:`. This indicates the start of the **block** of code. The block is simply the code that we want executed in each iteration of our loop. So, if all we want to do is print each element, then the line that prints the element is our block. Our block is indicated by indenting. So the first line after the colon `:` should be indented. When we want to end our block, we simply stop indenting. Any code following the `for` loop will only be executed after the `for` loop finishes.

> *Remember, the block of code in a `for` loop is executed the same amount of times as there are elements in the collection.*

Let's take a look at changing the variable names and adding more code to our example:

In [50]:
iteration_count = 0
for whatever_we_want in zero_to_three:
    iteration_count += 1
    print("This is iteration:", iteration_count)
    print(whatever_we_want)
print("The for loop is finished now! I am not in the for loop block, which is why I only printed once!")

This is iteration: 1
1
This is iteration: 2
2
This is iteration: 3
3
This is iteration: 4
4
This is iteration: 5
5
This is iteration: 6
6
This is iteration: 7
7
The for loop is finished now! I am not in the for loop block, which is why I only printed once!

## Using list elements as indices

In the examples above, we used the elements in our list to perform an operation, which was printing them. We can also use a list of numbers to access elements from another list. Let's take a look at an example.

In [9]:
countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']

In [56]:
for index in [0,1,2,3,4,5,6]:
    print(index)
    print(countries[index])

0
Croatia
1
USA
2
Argentina
3
France
4
Brazil
5
Japan
6
Vietnam

So, in the example above, we are still using the elements in the list of numbers from 0 to 7 in our `for` loop, but we are instead using them to access each element of another list. This example is a bit contrived, but perhaps you have two lists that are ordered correctly and have information like the capital cities in one list and the corresponding countries in another. How would we print both of those out in the same line?

In [16]:
countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio de Janeiro', 'Tokyo', 'Hanoi']

In [58]:
for index in [0,1,2,3,4,5,6]:
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam

Of course, this does not work if our indices do not match up with the size of our list.

In [60]:
for index in [0,1,2,3,4,5,6]:
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam

So, the preferred way of figuring out the number of iterations on a list when you are unsure of its length would be to use the `len` function to calculate the size of the list.

In [12]:
len(countries)

7

Then we can turn this length into a successive list of elements in the following way:

First, create a range object:

In [13]:
range(0, len(countries))

range(0, 7)

And then convert this into a list:

In [14]:
list(range(0, len(countries)))

[0, 1, 2, 3, 4, 5, 6]

Note that the range object is marking the starting and ending point, and excluding the end.  So this works perfectly:

In [62]:
for index in list(range(0, len(countries))):
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam

And as we add or subtract countries, we will still be iterating through our list elements.

In [64]:
countries.append('Mexico')
cities.append('Mexico City')
for index in list(range(0, len(countries))):
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam
Mexico City, Mexico

> Note: More conventionally, these contrived examples would employ the `enumerate()` method, but that is beyond the scope of the current lesson. At some point in the future, examine how this code snippet works:
```
for idx, item in enumerate(['A', 'B', 'C']):
    print(idx, item)
```

## Iterating through different datatypes

So far our loop variable has always been an element of a list that is a number.  However, our loop variable can represent any data type.  For example, let's have the loop variable represent each of the countries directly:

In [17]:
different_elements = ['A String', ["a", 'list', "of", 5, ["elements"]], {'this': "is a dictionary"}]
for element in different_elements:
    print(element)

A String
['a', 'list', 'of', 5, ['elements']]
{'this': 'is a dictionary'}

Now that we know we can iterate through a list that contains multiple data types, let's explore iterating through a data type that's **not a list**. 

Another collection we commonly will iterate over is a **dictionary**. Dictionaries differ from lists, on a high level, in that elements are **key, value pairs** instead of one single element. So, when we go through each item in a dictionary, we are actually working with a two-part element (with a key & value). Similarly to how we name a variable for the element in a list for a `for` loop, we name a variable for both the **key** and **value** when we iterate over a dictionary. However, in Python, we can't iterate directly over the dictionary, we iterate over the **items** of a dictionary, which are the key-value pairs.  Let's take a look at an example.

In [70]:
example_dictionary = {'first_name': "Terrance", 'last_name': "KOAR", 'favorite_language': "Python"}
print(example_dictionary.items())
type(example_dictionary.items())

dict_items([('first_name', 'Terrance'), ('last_name', 'KOAR'), ('favorite_language', 'Python')])

dict_items

Here we can see this **dict_items** object looks almost like a list, but each item has **two** parts, the **key** and **value**. So, in our first iteration, the first **key** will be **first_name**, and the first **value** will be **Terrance**.

In [19]:
for key, value in example_dictionary.items():
    print("this is the key:", key)    
    print("this is the value:", value, "\n")

this is the key: first_name
this is the value: Terrance

this is the key: last_name
this is the value: KOAR

this is the key: favorite_language
this is the value: Python

So, we can see that the **dict_items** object groups the key values together in a way that we can iterate over them and access them. We can even use them to inform our program to operate on keys and values in a certain way. Such as, the last name is inexplicably in all caps. Let's look at how we can rectify that and title case the last name when we print out the full name of the `example_dictionary` object.

In [81]:
first_name = ""
last_name = ""
for key, value in example_dictionary.items():
    if key == "last_name":
        last_name = value.capitalize()
    if key == "first_name":
        first_name = value
print(first_name, last_name)

Terrance Koar

## Conventional Naming Patterns

Typically, when we are looping through a collection of things like `countries`, we will name the looping variable, `country`, since that is the singular version of the plural name that represents our list. This is convention and helps to not only remind us, but tell other people looking at our code what that variable is. Let's take a look at a couple examples.

In [21]:
for country in countries:
    print(country)

Croatia
USA
Argentina
France
Brazil
Japan
Vietnam
Mexico

In [22]:
ice_cream_flavors = ['Mint Chocolate Chip', 'Coffee', 'Cookie Dough', 'Fudge Mint Brownie', 'Vanilla Bean']
for ice_cream_flavor in ice_cream_flavors:
    print('I love ' + ice_cream_flavor + ' ice cream!!')

I love Mint Chocolate Chip ice cream!!
I love Coffee ice cream!!
I love Cookie Dough ice cream!!
I love Fudge Mint Brownie ice cream!!
I love Vanilla Bean ice cream!!

## Summary

In this lesson, we learned how to use loops to iterate through a collection of elements. We started with iterating through a list of numbers, and performed the same operation on each number. Then we saw how we can loop through the numbers and have each number be used to access a successive element from a separate list, like `countries`.  We then saw that to ensure our list of numbers matched the indices of our other list, we had to use the expression, `for element in list(range(0, len(list)))`. Finally, we introduced a naming convention that is commonly used when naming the variable for our loops when iterating over a collection that is a list of common elements (i.e. `ice_cream_flavor` for a list of `ice_cream_flavors`).

In [83]:
Teams = ['Chelsea', 'Manchester United', 'Arsenal', 'Manchester City', 'Aston Villa', 'Brighton', 'Nottingham Forest', 'Totenham', 'Crystal Palace', 'Newcastle United',]
Teams

['Chelsea',
 'Manchester United',
 'Arsenal',
 'Manchester City',
 'Aston Villa',
 'Brighton',
 'Nottingham Forest',
 'Totenham',
 'Crystal Palace',
 'Newcastle United']

In [85]:
type(Teams)

list

{'win': 3, 'lose': 0, 'draw': 1}

In [89]:
type(scores)

dict

In [109]:
matches = [
    (Teams[0],6, Teams[1], 4),
    (Teams[2],4, Teams[3],4),
    (Teams[4],1, Teams[5],0),
    (Teams[6],1, Teams[7],1),
    (Teams[8],0, Teams[9],5),
]
matches

[('Chelsea', 6, 'Manchester United', 4),
 ('Arsenal', 4, 'Manchester City', 4),
 ('Aston Villa', 1, 'Brighton', 0),
 ('Nottingham Forest', 1, 'Totenham', 1),
 ('Crystal Palace', 0, 'Newcastle United', 5)]

In [97]:
league_table = {team:{'win':3, 'lose':0, 'draw':1,}for team in Teams}

In [111]:
for match in matches:
    team_a, score_1, team_b, score_2 = match
    # If team 1 wins
    if score_1 > score_2:
        league_table [team_a]['win']+=1
        league_table [team_b]['lose']+=1
        print(f" {team_a} won {score_1}:{score_2} to {team_b}")
    #Team 2 wins
    elif score_1 < score_2:
        league_table [team_a]['lose']+=1
        league_table [team_b]['win']+=1
        print(f" {team_a} lost {score_1}:{score_2} to {team_b}")
    #its a draw
    elif score_1 == score_2:
        league_table [team_a]['draw']+=1
        league_table [team_b]['draw']+=1
        print(f" {team_a} and {team_b} drew {score_1}:{score_2} ")

 Chelsea won 6:4 to Manchester United
 Arsenal and Manchester City drew 4:4
 Aston Villa won 1:0 to Brighton
 Nottingham Forest and Totenham drew 1:1
 Crystal Palace lost 0:5 to Newcastle United

-------------- League Table--------------
Chelsea : wins = 3,losses = 1, draws = 1
Manchester United : wins = 4,losses = 0, draws = 1
Arsenal : wins = 3,losses = 1, draws = 1
Manchester City : wins = 4,losses = 0, draws = 1
Aston Villa : wins = 4,losses = 0, draws = 1
Brighton : wins = 3,losses = 1, draws = 1
Nottingham Forest : wins = 3,losses = 0, draws = 2
Totenham : wins = 3,losses = 0, draws = 2
Crystal Palace : wins = 3,losses = 0, draws = 2
Newcastle United : wins = 3,losses = 0, draws = 2